.backbroad{

    position: relative;
  width: 1512px;
  height: 898px;
  
  background: #E7EBF5 ;
  opacity: 1;
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.1);
  }
  .backbroad .title{
  
    /* SelfPortrait */
  
  
    position: absolute;
  width: 209px;
  height: 54px;
  left: 126px;
  top: 65px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  
  
  color: #4D59BF;
  }
  .backbroad Progressbar{
    position: absolute;
    width: 909;
    height: 39;
    top:77;
    left: 419;
  }
  .backbroad .text5{
    /* Make your avatar */
  
  position: absolute;
  width: 142px;
  height: 24px;
  left: 372px;
  top: 121px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  color: #595566;
  
  }
  .backbroad .text6{
    /* Select your product */
  
  position: absolute;
  width: 158px;
  height: 24px;
  left: 807px;
  top: 121px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  color: #595566;
  
    
  }
  .backbroad .text7{
    /* Change the style */
  
  position: absolute;
  width: 138px;
  height: 24px;
  left: 1241px;
  top: 121px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  color: #595566;
  
  }
  .nextButton1Text{
    /* Next */

position: absolute;
width: 71px;
height: 48px;
left: 685px;
top: 797px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */

color: #4D59BF;


  }
  .backButton1Text{
    /* Next */

/* Back */

position: absolute;
width: 79px;
height: 48px;
left: 613px;
top: 798px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */

color: #4D59BF;




  }

  .onclicksenariobox{
    /* Rectangle 83 */

box-sizing: border-box;

position: absolute;
width: 159px;
height: 58px;
left: 0;
top: 0;

background: #4D59BF;
border: 2px solid #4D59BF;

  }
  .onclicksenarioText{
position: absolute;
height: 36px;
text-align: center;
top: 11px;
width: 100%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
  }
  .scenariobarbar{
    position: absolute;
    overflow:auto;
    /* Rectangle 61 */
  width: 175px;
  height: 510px;
  left: 89px;
  top: 240px;
 
  }
  .scenariobarbar::-webkit-scrollbar {
    width: 9px;
    
    
  }
  .scenariobarbar::-webkit-scrollbar-thumb {
    background-color: rgba(77,89,191,0.33);
    

  }
  .stylebarbar{
    position: absolute;
    overflow:auto;
    /* Rectangle 61 */
  width: 175px;
  height: 510px;
  left: 343px;
  top: 244px;
  }
  .stylebarbar::-webkit-scrollbar {
    width: 9px;
    
  }
  .stylebarbar::-webkit-scrollbar-thumb {
    background-color: rgba(77,89,191,0.33);
  }
  .Productsbar{
    position: absolute;
    overflow:auto;
    /* Rectangle 61 */
width: 473px;
height: 510px;
left: 285px;
top: 242px;


}
.Productsbar::-webkit-scrollbar {
  width: 9px;
  
}
.Productsbar::-webkit-scrollbar-thumb {
  background-color: rgba(77,89,191,0.33);
  border-radius: 9px;
}

  .protraitBBar{
    position: absolute;
    overflow:auto;
    /* Rectangle 61 */
width: 180px;
height: 510px;
left: 1273px;
top: 242px;


}
.NextButton2Text{/* Next */

  position: absolute;
  width: 71px;
  height: 48px;
  left: 825px;
  top: 796px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  
  color: #4D59BF;
  
  }
  .exportButtonText{/* Next */

/* Export */

position: absolute;
width: 100px;
height: 48px;
left: 804px;
top: 796px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */

color: #4D59BF;


    }
.protraitBBar::-webkit-scrollbar {
    width: 9px;
    
  }
  .protraitBBar::-webkit-scrollbar-thumb {
    background-color: rgba(77,89,191,0.33);
    border-radius: 9px;
  }




