
.loadingpage{
        position: absolute;
      width: 1512px;
      height: 898px;
      
      background: #FFFFFF ;
      opacity: 0.7;
      box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.1);
      
}
p {
  color: #4D59BF;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 30px;
}

.box {
    position: absolute;
    left:713px;
    top:329px;
    width: 170px;
    height: 180px;
}

.box>div {
    margin: 6px;
    background-color: #4D59BF;
    height: 100%;
    width: 16px;
    display: inline-block;
    opacity: 1;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.box .r2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.box .r3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.box .r4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.box .r5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}